:root{
	/* Size of the central block */
	--main-width:1300px;
}

body {
	background: black;
	background-image: url("../img/GVGDM_template_background_002.jpg");
	background-size:cover;
	font-family: 'Roboto Slab', serif;
}

audio {
	display: none;
}

#splash{
	display:block;
	margin: 0 auto;
}

.clear {
	clear: both;
}

.palier{
	color: #FF7E00;
}

#game {
	display: none;
	text-align: center;
}

#top {
	position: fixed;
	right: 50px;
}

#controls{
	float: left;
	color: white;
	text-align:left;
}

#questionnaire{
	font-weight:bolder;
}

#levels {
	float: right;
	padding: 0;
	color: white;
	text-align: right;
	font-size: 1.5em;
}

#levels li:after{
	/* Change the money symbol here */
	content:" €";
}

.active {
	color: green;
	font-weight: bold;
	text-decoration: underline;
}

#options {
	width: var(--main-width);
	height: 70px;
	margin: 0 auto;
	padding: 20px;
}

#question-box {
	color:white;
	width: calc(var(--main-width) - 138px);
	margin: 40px auto;
	padding: 30px 70px;
	font-size: 1.6em;
	margin-top:20px;
	background: url(../img/forme-question.svg) no-repeat center;
    background-size: 100% 100%
}

.content{
	vertical-align:super;
}

.qselected{
	background-image:url(../img/forme-reponse-selected.svg) !important;
	color:black;
}

.qtrue{
	background-image:url(../img/forme-reponse-true.svg) !important;
}

.qfalse{
	background-image:url(../img/forme-reponse-false.svg) !important;
}

.big-text {
	color: #FF7E00;
	font-size: 2.1em;
	margin-right: 15px;
}

.giant-text {
	font-size: 3.1em;
	font-weight: bolder;
}

.qselected .big-text{
	color: #FFF;
}

#money {
	font-size: 1.9em;
	font-weight: bold;
	color: green;
	float: right;
	display: block;
	height: 50px;
	padding-right: 20px;
	padding-top: 10px;
}

#money:after{
	/* Change the money symbol here */
	content: " €";
}

#game-over {
	display: none;
	font-size: 8em;
	font-weight: bold;
	color: white;
	width: calc(var(--main-width) + 20px);
	margin-top: 300px;
	margin: 0 auto;
	text-align: center;
}

#fifty {
	background-image: url('../img/jokers/50.png');
}

#fifty:hover {
	background-image: url('../img/jokers/50-selected.png');
}

.phone-step1 {
	background-image: url('../img/jokers/phone.png');
}

.phone-step1:hover {
	background-image: url('../img/jokers/phone-selected.png');
}

.phone-step2 {
	background-image: url('../img/jokers/phone-step2.png');
}

.phone-step2:hover {
	background-image: url('../img/jokers/phone-step2-selected.png');
}

.phone-used {
	background-image: url('../img/jokers/phone-used.png');
}

#audience {
	background-image: url('../img/jokers/public.png');
}

#audience:hover {
	background-image: url('../img/jokers/public-selected.png');
}

#answer-box {
	color: white;
	font-size: 1.5em;
	text-align: left;
	width: calc(var(--main-width) + 30px); /*990*/
	margin: 0 auto;
	display: table;
	border-collapse: separate;
    border-spacing: 15px;
}

.row{
	display: table-row;
	/*display: block;
    background: url(../img/point.svg) repeat center;
    background-size: 10px 100%;*/
}

#pre-start {
	color: white;
	display: none;
}

.answer{
	/*background-color:black;
	/*border: 4px solid #d3d5ff;*/
	padding: 20px 60px;
	display: table-cell;
	width: 500px;
	background: url(../img/forme.svg) no-repeat center;
	background-size: 100% 100%;
	vertical-align: middle;
}

.answer-text{
	vertical-align:super;
}

.answer:hover {
	text-decoration: underline;
	cursor: pointer;
}

.options-button {
	width: 68px;
	height: 64px;
	margin-left: 12px;
	float: left;
	background-position: 0 0;
	cursor: pointer;
	background-size:cover;
}

#gagne{
	color: #FF7E00;
	width: 1200px;
	margin: 0 auto;
	display: none;
}

#cheque{
	width:100%;
}

#congratulations{
	margin: 42px;
}

.perdu {
	color:red;
}

.perdu span{
	margin: 42px;
}

#perdu-palier0,
#perdu-palier1,
#perdu-palier2{
	display:none;
}

.author{
	font-style: italic;
	font-size: 0.8em;
	text-align: right;
	margin-right: 40px;
	margin-bottom: 5px;
	/* Change the display:none to display:block to show the authors of the questions */
    display: none; /* block*/
}

.circle-countdown{
	animation: 30s linear 0s 1 normal countdown;
	animation-fill-mode: forwards;
}

@keyframes countdown {
	0% {
		stroke-dasharray:180 180;
	}
	100% {
		stroke-dasharray:0 360;
	}
}

#countdown {
	display:none;
	background-image: url('../img/jokers/empty-green.png');
}
